:root {
    --black-text: #000000;
    --white: #FFFFFF;
    --white-text-op60: rgb(255, 255, 255, 0.6);
    --light-grey-stroke: #ECECEC;
    --grey-white-stroke: #EEEEEE;
    --grey-text: #757575;
    --dark-graphite-text: #212121;
    --blue: #2196F3;
    --graphite-bg: #2F303A;
    --light-grey-bg-team: #F5F4FA;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: var(--white);
    color: var(--dark-graphite-text);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

/* /* .header a {
    /* color: white; */
    /* color: inherit; */
    /* color: currentColor; */
    /* color: var(--white-text);
/* }  */

/* .hero {
    background:cadetblue;
}
.hero-btn {
    background-color: coral;
} */

.container {
    width: 1200px;
    padding: 15px 15px;
    margin: 0 auto;
    /* outline: 1px solid #FF6C00; */
}

.header-nav,
.portfolio-header-nav,
.header-nav-links,
.header-address,
.portfolio-header-links,
.portfolio-header-address {
    display: flex;
}

img {
    display: block;
}

.header .container {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* margin-top: 32px; */
    /* border-bottom: 1px solid var(--light-grey-stroke); */
    height: 80px;
}

.portfolio-header .container {
    display: flex;
    align-items: center;
    /* margin-top: 32px; */
    /* border-bottom: 1px solid var(--light-grey-stroke); */
    height: 80px;
}

.portfolio-header {
    border-bottom: 1px solid var(--light-grey-stroke);
}

.header-nav-links {
    margin-left: 93px;
    margin-top: 32px;
    margin-bottom:35px;
    margin-right: 331px;
}

.portfolio-header-links {
    margin-left: 93px;
    margin-top: 32px;
    margin-bottom:35px;
    margin-right: 331px;
}

.header-nav li:nth-child(2) {
    margin-left: 50px;
    margin-right: 50px;
}

.portfolio-header-nav li:nth-child(2) {
    margin-left: 50px;
    margin-right: 50px;
}

.header-address p:nth-child(2) {
    margin-left:50px;
    margin-right: 0;
}

.header-address p {
    margin-right: 0;
}

.portfolio-header-address p:nth-child(2) {
    margin-left:50px;
}

.logo {
    margin-top:24px;
    margin-bottom:23px;
    color: var(--black-text);
    font-size: 26px;
    line-height: 31px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.03em;
}

.web {
   /* font-family: 'Oleo Script', cursive; */
   color: var(--blue);
   font-size: 26px;
   line-height: 31px;
   font-family: 'Raleway', sans-serif;
   letter-spacing: 0.03em;

}
.title {
    color: var(--dark-graphite-text);
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
}

.hero .container {
    height: 600px;
} 
.hero {
    background-color: var(--graphite-bg); 
}
.hero-title {
    margin-left: 252px;
    margin-right: 252px;
    margin-top: 200px;
    margin-bottom: 30px;
    color: var(--white);
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.hero-btn {
    margin-left: 468px;
    margin-right: 468px;
    padding: 10px 32px;
    background-color: var(--blue);
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: var(--white);
    text-align: center;
    letter-spacing: 0.06em;
    border-radius: 4px;
}
.about .container {
    /* display: flex; */
    padding-top: 94px;
    padding-bottom: 94px;
}

.features {
    display: flex;
    align-items: center;
    margin-bottom: 94px;
    margin-left: 0;
    margin-right: 0;
    background: transparent;
}

.features li {
    width: 270px;
    height: 101px;
}

.features li:nth-child(1) {
    margin-right: 30px;
}

.features li:nth-child(2) {
    margin-right: 30px;
}

.features li:nth-child(3) {
    margin-right: 30px;
}

.about h2 {
    margin-bottom: 50px; 
}

.about h3 {
    margin-bottom: 10px;
}

.about-images {
    display: flex;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
}

.images {
    width: 370px;
}

.images:nth-child(2) {
    margin-left: 30px;
    margin-right:30px;
}

.title-features {
    color: var(--dark-graphite-text);
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.features-p {
    color: var(--grey-text);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}

.team .container {
    /* display: flex; */
    align-items: center;
    padding-top: 94px;
    padding-bottom: 94px;

}

.workers {
    display: flex;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
}

.workers li:nth-child(1) {
    margin-right: 30px;
}

.workers li:nth-child(2) {
    margin-right: 30px;
}

.workers li:nth-child(3) {
    margin-right: 30px;
}

.workers li {
    width: 270px;
}

.worker-names {
    background-color: var(--white);
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    letter-spacing: 0.03em;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.workers h3 {
    margin-bottom: 10px;
}

.team {
    background: var(--light-grey-bg-team)
}

.name {
    color: var(--dark-graphite-text);
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
}

.work-position {
    color: var(--grey-text);
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
}


.link-header:hover {
    color: var(--blue);
}

.link-header {
    color: var(--black-text);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.link-header.current {
    color: var(--blue);
}

.link-hd-adr {
    color: var(--grey-text);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.link-hd-adr:hover {
    color: var(--blue);
}

.footer .container {
    padding-top: 60px;
    padding-bottom: 60px;
}

footer {
    background-color: var(--graphite-bg);
}

.logo-foot {
    /* display: block; */
    color: var(--white);
    font-size: 26px;
    line-height: 31px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.03em;
}

.footer-address {
    /* display: block; */
    margin-top: 20px;
}

.footer-address li:nth-child(1) {
    margin-bottom: 9px;
}

.footer-address li:nth-child(2) {
    margin-bottom: 9px;
}

.link-foot-adr {
    color:var(--white);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}

.link-foot {
    color: var(--white-text-op60);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}
 
.portfolio-main .container {
    padding-top: 94px;
    padding-bottom: 94px;
}

.portfolio-btns {
    display: flex;
    margin-left: 280px;
    margin-right: 279px;
    margin-bottom: 50px;
    justify-content: center;
}

.portfolio-btns a:nth-child(1) {
    margin-right: 8px;
    margin-left: 0;
}

.portfolio-btns a:nth-child(3) {
    margin-right: 8px;
    margin-left: 0;
}


.portfolio-btns a:nth-child(2n + 2) {
    margin-right: 8px;
    margin-left: 0;
}


.portfolio-btn {
    background-color: var(--light-grey-bg-team);
    padding: 6px 22px;
    color: var(--dark-graphite-text);
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    height: 38px;
    width: auto;
    border-radius: 4px;
    
}

.portfolio-btn:hover {
    background-color: var(--blue);
    color: var(--white);
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}

.portfolio-names {
    color: var(--grey-text);
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
}
  
.portfolio-main h1 {
    display:none;
}

.portfolio-gallery {
    display: flex;
    flex-wrap: wrap;
    /* margin-left: auto;
    margin-right: auto; */
    margin-top: -30px;
    margin-left: -30px;
}

.portfolio-gallery li {
    background-color: var(--white);
    outline: 1px solid var(--light-grey-stroke);
    /* border: 1 px solid var(--light-grey-stroke); */
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
}

.portfolio-gallery h3 {
    margin-top: 20px;
    margin-bottom: 4px;
    margin-left: 24px;
}

.portfolio-gallery p {
    margin-left: 24px;
    margin-bottom: 20px;
}